
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Front/StyleSheet1.css" />
</head>
<body>
    <div id="traffic">
        <div id="top"></div>
        <div id="mid"></div>
        <div id="bot"></div>
        <script type="text/javascript" src="~/Front/JavaScript.js"></script>
    </div>
    <div>@Html.ActionLink("Посмотреть время", "Times")</div>
    <div>@Html.ActionLink("Посмотреть базу данных", "DataBase")</div>
</body>
</html>
